@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Avenida Siempre Viva 1234<br />
    Springfield<br />
    <abbr title="Phone">P:</abbr>
    600.600.600
</address>

<address>
    <strong>Direcciones:</strong>   <a href="jorgenitales@gmail.com">jorgenitales@gmail.com</a><br />
    <strong>Indicaciones:</strong> <a href="susanatorio@hotmail.com">susanatorio@hotmail.com</a>
</address>